body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.page2 {
        background-image: url(d1.jpg);
}

.page3 {
        background-image: url(d4.jpg);
}

.page4 {
       background-image: url(dryersheet.png);
}




.wrapper{
    width:2600px;
    height:auto;
    margin:0 auto;
}

.width{
    height:30px;
    width:300px;
    border:solid 2px #0000FF;
    font-family:"Minion Pro", Serif,;
    font-size:30px;
    text-align:center;
    color:blue;
    margin-left:448px;
    margin-top:160px;
    position:absolute;
}

.height{
    height:30px;
    width:300px;
    border:solid 2px #0000FF;
    font-family:"Minion Pro", Serif;
    font-size:30px;
    text-align:center;
    color:#0000FF;
    transform:rotate(-90deg);
    position:absolute;
    margin-left:200px;
    margin-top:420px;
}

.leftunit{
    height:1250px;
    width:1207px;
    border: solid 2px #0000FF;
    margin-left:447.09px;
    border-right-style:none;
    float: left;
}

.box{
    height:321px;
    width:321px;
    display:inline-block;
    border:solid 2px #0000FF;
    position:relative;
    padding:19px;
    margin:16px;
    top:20px;
    left:20px;
}

.boxone{
    top:20px;
    left:20px;
}


.boxtwo{
    left:20px;
    top:100px;
}

.rect{
    height:322px;
    width:667px;
    border:solid 2px #0000FF;
    left:454px;
    position:relative;
    top:64px;
}

.thinrect{
    height:322px;
    width:33px;
    border:solid 2px #0000FF;
    margin-left:16px;
    margin-top:60px;
    position:absolute;
}

.bottomunit{
    height:1252px;
    width:839px;
    border:solid 2px #0000FF;
    border-top-style:none;
    border-left-style:none;
    display:inline-block;
}

.clear{
    clear:both;
}

.recttwo{
    height:161px;
    width:356px;
    border:solid 2px #0000FF;
    position:relative;
    margin-top:1050px;
    margin-left:100px;
}

.table{
    height:500px;
    width:322px;
    border:solid 2px #0000FF;
    margin-left:500px;
    margin-top:-505px;
}

.quartercircle{
    width: 381px;
    height:381px;
    border:solid 2px #0000FF;
    border-radius: 380px 0 0 0;
    position:relative;
    margin-top:-1000px;
    margin-left:458px;
    border-right-style:none;
}

.whiteline{
    height:382px;
    width:6px;
    margin-left:838px;
    margin-top:-382px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.page2 .whiteline {
            background-image: url(d1.jpg);

}

.page3 .whiteline {
            background-image: url(d4.jpg);

}

.topunit{
    height:260px;
    width:839px;
    border:solid 2px #0000FF;
    border-bottom-style:none;
    margin-left:1654px;
}

.sink{
    width:198px;
    height:198px;
    border:solid 2px #0000FF;
    margin-left:138px;
    margin:100px;
    display:inline-block;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:solid 2px #0000FF;
    margin:45px;
}

.boxthree{
    width:200px;
    height:150px;
    border:solid 2px #0000FF;
    margin:100px;
    display:inline-block;
}

.dust{
    width:150px;
    height:150px;
    background:url(dust.png) repeat;
    background-size: 150px 150px;
    position:absolute;
}

.d1{
    left:500px;
    top:600px;
}

.d1:hover{
    background:url(dust_hover.png) repeat;
    background-size:150px 150px;
    
}

.d1:visited{
    opacity:0.4;
}

/*.d1:active{*/
/*    background:url(dtest.jpg);*/
/*    background-size:150px 150px;*/
/*    transform:rotate(90deg);*/
/*}*/

.d2{
    left:1000px;
    top:600px;
}

.d2:hover{
    background:url(dust_hover.png) repeat-x;
    background-size:150px 150px;
}

/*.d2:active{*/
/*    background:url(d4.jpg);*/
/*    background-size:150px 150px;*/
/*    transform:rotate(90deg);*/
/*}*/

.d3{
    left:800px;
    top:550px;
}

.d3:hover{
    background:url(dust_hover.png) repeat-x;
    background-size:150px 150px;
}

/*.d3:active{*/
/*    background:url(d6.jpg);*/
/*    background-size:150px 150px;*/
/*}*/

.clothes{
    width:150px;
    height:150px;
    background:url(laundry.png) repeat;
    background-size:150px 150px;
    position:absolute;
}

.l1{
    left:860px;
    top:730px;
}

.l1:hover{
    background:url(laundry_hov.png) repeat-x;
    background-size:150px 150px;
}

/*.l1:active{*/
/*    background:url(sh1.jpg);*/
/*    background-size:150px 150px;*/
/*}*/

.l2{
    left:2300px;
    top:1000px;
}

.l2:hover{
    background:url(laundry_hov.png) repeat-x;
    background-size:150px 150px;
}

/*.l2:active{*/
/*    background:url(sh2.jpg);*/
/*    background-size:150px 150px;*/
/*}*/

.l3{
    left:1400px;
    top:980px;
}

.l3:hover{
    background:url(laundry_hov.png) repeat-x;
    background-size:150px 150px;
}

/*.l3:active{*/
/*    background:url(sh3.jpg);*/
/*    background-size:150px 150px;*/
/*    transform:rotate(-90deg);*/
/*}*/

.dsheet{
    width:150px;
    height:150px;
    background:url(dryersheet.png) repeat-x;
    background-size:150px 150px;
    position:absolute;
    
}
.dr1{
    left:2120px;
    top:1320px;
}

.dr1:hover{
    background:url(dryersheet_hov.png) repeat-x;
}

/*.dr1:active{*/
/*    background:url(dr3.jpg);*/
/*    background-size:150px 150px;*/
/* }*/

.dr2{
    left:850px;
    top:920px;
}

.dr2:hover{
    background:url(dryersheet_hov.png) repeat-x;
}


/*.dr2:active{*/
/*    background:url(dr5.jpg);*/
/*    background-size:150px 150px;*/
/*}*/

.home{
    width:200px;
    height:200px;
    background:url(icon_washer.png);
    background-size:200px,200px;
    position:absolute;
    top:60px;
    left:80px;
}

.home

}