body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.page2 {
        background-image: url(d1.jpg);
}

.page3 {
        background-image: url(d4.jpg);
       
}

.page4 {
       background-image: url(d2.jpg);
}

.page5 {
       background-image: url(sh1.jpg);
}

.page6 {
       background-image: url(sh2.jpg);
}

.page7 {
       background-image: url(sh3.jpg);
}

.page8 {
       background-image: url(dr2.jpg);
}

.page9{
    background-image: url(dr3.jpg);
}

.page10{
    background-image: url(dr1.jpg);
}

.page11{
    background-image: url(dr12.jpg);
}

.page12{
    background-image: url(tr1.jpg);
}

.page13{
    background-image: url(tr2.jpg);
}

.page14{
    background-image: url(tr3.jpg);
}

.page15{
    background-image: url(tr4.jpg);
}

.page16{
    background-image: url(l1.jpg);
}

.page17{
    background-image:url(l2.jpg);
}

.page18{
    background-image:url(l3.jpg);
}

.page19{
    background-image:url(wa1.jpg);
}

.page20{
    background-image:url(wa2.jpg);
}

.page21{
    background-image:url(s2.jpg);
}

.page22{
    background-image:url(s3.jpg);
}

.page23{
    background-image:url(s4.jpg);
}

.unicorn{
    background-image:url(unicorn.gif);
}

.wrapper{
    width:2600px;
    height:auto;
    margin:0 auto;
}

.width{
    height:20px;
    width:200px;
    border:solid 2px #0000FF;
    font-family:"Minion Pro", Serif,;
    font-size:20px;
    text-align:center;
    color:blue;
    margin-left:448px;
    margin-top:129px;
    position:absolute;
}

.height{
    height:20px;
    width:200px;
    border:solid 2px #0000FF;
    font-family:"Minion Pro", Serif;
    font-size:20px;
    text-align:center;
    color:#0000FF;
    transform:rotate(-90deg);
    position:absolute;
    margin-left:221px;
    margin-top:420px;
}

.leftunit{
    height:1250px;
    width:1207px;
    border: solid 2px #0000FF;
    margin-left:447.09px;
    border-right-style:none;
    float: left;
}

.box{
    height:321px;
    width:321px;
    display:inline-block;
    border:solid 2px #0000FF;
    position:relative;
    padding:19px;
    margin:16px;
    top:20px;
    left:20px;
}

.boxone{
    top:20px;
    left:20px;
}


.boxtwo{
    left:20px;
    top:100px;
}

.rect{
    height:322px;
    width:667px;
    border:solid 2px #0000FF;
    left:454px;
    position:relative;
    top:64px;
}

.thinrect{
    height:322px;
    width:33px;
    border:solid 2px #0000FF;
    margin-left:16px;
    margin-top:60px;
    position:absolute;
}

.bottomunit{
    height:1252px;
    width:839px;
    border:solid 2px #0000FF;
    border-top-style:none;
    border-left-style:none;
    display:inline-block;
}

.clear{
    clear:both;
}

.recttwo{
    height:161px;
    width:356px;
    border:solid 2px #0000FF;
    position:relative;
    margin-top:1050px;
    margin-left:100px;
}

.recttwo:hover{
    border:solid 2px #FF00DD;
}

.table{
    height:500px;
    width:322px;
    border:solid 2px #0000FF;
    margin-left:500px;
    margin-top:-505px;
}

.quartercircle{
    width: 381px;
    height:381px;
    border:solid 2px #0000FF;
    border-radius: 380px 0 0 0;
    position:relative;
    margin-top:-1000px;
    margin-left:458px;
    border-right-style:none;
}

.whiteline{
    height:382px;
    width:6px;
    margin-left:838px;
    margin-top:-382px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.page2 .whiteline {
            background-image: url(d1.jpg);

}

.page3 .whiteline {
            background-image: url(d4.jpg);

}

.page4 .whiteline {
            background-image: url(d2.jpg);

}

.page5 .whiteline {
            background-image: url(sh1.jpg);

}

.page6 .whiteline {
            background-image: url(sh2.jpg);

}

.page7 .whiteline {
            background-image: url(sh3.jpg);

}

.page8 .whiteline {
            background-image: url(dr2.jpg);

}

.page9 .whiteline {
            background-image: url(dr3.jpg);

}

.page10 .whiteline {
            background-image: url(dr1.jpg);

}

.page11 .whiteline {
            background-image: url(dr12.jpg);

}

.page12 .whiteline {
            background-image: url(tr1.jpg);

}

.page13 .whiteline {
            background-image: url(tr2.jpg);

}

.page14 .whiteline {
            background-image: url(tr3.jpg);

}

.page15 .whiteline {
            background-image: url(tr4.jpg);

}

.page16 .whiteline {
            background-image: url(l1.jpg);

}

.page17 .whiteline {
            background-image: url(l2.jpg);

}

.page18 .whiteline {
            background-image: url(l3.jpg);

}

.page19 .whiteline{
    background-image:url(wa1.jpg);
}

.page20 .whiteline{
    background-image:url(wa2.jpg);
}

.page21 .whiteline{
    background-image:url(s2.jpg);
}

.page22 .whiteline{
    background-image:url(s3.jpg);
}

.page23 .whiteline{
    background-image:url(s4.jpg);
}

.topunit{
    height:260px;
    width:839px;
    border:solid 2px #0000FF;
    border-bottom-style:none;
    margin-left:1654px;
}

.sink{
    width:198px;
    height:198px;
    border:solid 2px #0000FF;
    margin-left:138px;
    margin:100px;
    display:inline-block;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:solid 2px #0000FF;
    margin:45px;
}

.boxthree{
    width:200px;
    height:150px;
    border:solid 2px #0000FF;
    margin:100px;
    display:inline-block;
}



.dust{
    width:150px;
    height:150px;
    background:url(dust.png) repeat;
    background-size: 150px 150px;
    position:absolute;
}

.d1{
    left:500px;
    top:600px;
}


.d1:hover{
    background:url(dust_hover.png) repeat;
    background-size:150px 150px;
    
}


.d2{
    left:1000px;
    top:600px;
}

.d2:hover{
    background:url(dust_hover.png) repeat-x;
    background-size:150px 150px;
}


.d3{
    left:800px;
    top:550px;
}

.d3:hover{
    background:url(dust_hover.png) repeat-x;
    background-size:150px 150px;
}



.clothes{
    width:150px;
    height:150px;
    background:url(laundry.png) repeat;
    background-size:150px 150px;
    position:absolute;
}

.l1{
    left:860px;
    top:730px;
}

.l1:hover{
    background:url(laundry_hov.png) repeat-x;
    background-size:150px 150px;
}


.l2{
    left:2300px;
    top:1000px;
}

.l2:hover{
    background:url(laundry_hov.png) repeat-x;
    background-size:150px 150px;
}


.l3{
    left:1400px;
    top:980px;
}

.l3:hover{
    background:url(laundry_hov.png) repeat-x;
    background-size:150px 150px;
}


.dsheet{
    width:150px;
    height:150px;
    background:url(dryersheet.png) repeat-x;
    background-size:150px 150px;
    position:absolute;
    
}
.dr1{
    left:2120px;
    top:1320px;
}

.dr1:hover{
    background:url(dryersheet_hov.png) repeat-x;
     background-size:150px 150px;
}


.dr2{
    left:850px;
    top:920px;
}

.dr2:hover{
    background:url(dryersheet_hov.png) repeat-x;
    background-size:150px 150px;
}

.dr3{
left:2100px;
top:1000px;
}

.dr3:hover{
    background:url(dryersheet_hov.png) repeat-x;
    background-size:150px 150px;
}

.dr4{
    left:1685px;
    top:680px;
    
}

.dr4:hover{
    background:url(dryersheet_hov.png) repeat-x;
    background-size:150px 150px;
}



.trash{
    width:150px;
    height:150px;
    background:url(trash.png) repeat-x;
    background-size:150px 150px;
    position:absolute;
}


.tr1{
    left:1600px;
    top:600px;
}

.tr1:hover{
    background:url(trash_hov.png) repeat-x;
    background-size:150px 150px;
}

.tr2{
    left:2000px;
    top:500px;
}

.tr2:hover{
    background:url(trash_hov.png) repeat-x;
     background-size:150px 150px;
}

.tr3{
    left:987px;
    top:1000px;
}

.tr3:hover{
    background:url(trash_hov.png) repeat-x;
    background-size:150px 150px;
}

.tr4{
    left:1995px;
    top:1039px;
}

.tr4:hover{
    background:url(trash_hov.png) repeat-x;
    background-size:150px 150px;
}

.lint{
    width:150px;
    height:150px;
    background:url(lint.png) repeat-x;
    background-size:150px 150px;
    position:absolute;
}
.li1{
    left:500px;
    top:1000px;
}

.li1:hover{
    background:url(lint_hov.png) repeat-x;
    background-size:150px 150px;
} 

.li2{
    left:800px;
    top:1000px;
}

.li2:hover{
    background:url(lint_hov.png) repeat-x;
    background-size:150px 150px;
} 

.li3{
    left:1700px;
    top:1100px;
}

.li3:hover{
    background:url(lint_hov.png) repeat-x;
    background-size:150px 150px;
} 

.wash{
    width:150px;
    height:150px;
    background:url(bubble.png) repeat-x;
    background-size:150px 150px;
    position:absolute;
}

.wa1{
    left:1000px;
    top:200px;
}

.wa1:hover{
    background:url(bubble_hov.png) repeat-x;
    background-size:150px 150px;
}

.wa2{
    left:500px;
    top:220px;
}

.wa2:hover{
    background:url(bubble_hov.png) repeat-x;
    background-size:150px 150px;
}

.stain{
    width:150px;
    height:150px;
    background:url(stain.png) repeat-x;
    background-size:150px 150px;
    position:absolute; 
}

.s1{
    left:2400px;
    top:127px;
}

.s1:hover{
    background:url(stain_hov.png) repeat-x;
    background-size:150px 150px;
}

.s2{
    left:2100px;
    top:387px;
}

.s2:hover{
    background:url(stain_hov.png) repeat-x;
    background-size:150px 150px;
}

.s3{
    left:1300px;
    top:680px;
}

.s3:hover{
    background:url(stain_hov.png) repeat-x;
    background-size:150px 150px;
}


.logo{
    width:40px;
    height:40px;
    border-radius:50%;
    border:solid 2px #0000FF;
    position:fixed; 
    left: 100px;
    top: 110px;
}

.logo:hover{
    border:solid 2px #FF00DD;
}

.text{
     width:180px;
     height:55px;
     position:absolute;
     left:100px;
     top:40px;
     font-size:12px;
     font-family:"helvetica neue", sans-serif;
     color:#0000FF;
     text-align:justify;
 }
 

 
