#container{
    width:950px;
    height:auto;
    margin:30px auto;

}

.icon{
    width:80px;
    height:80px;
    background:url(reddot.png);
    background-size:80px 80px;
    position:absolute;
}

.laura{
    top:221px;
    left:270px;
}

.lauraco{
    top:280px;
    left:230px;
    position:fixed;
    font-family:"helvetica neue" sans-serif;
}

.laurass img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top:240px;
  left:800px; 
}


.lauratext{
    text-align:right;
    position:absolute;
    top:340px;
    right:450px;
    font-family:"helvetica neue" sans-serif;
}

.clarissa{
    top:300px;
    left:920px;
}

.clarissaco{
    top:358px;
    left:880px;
    position:absolute;
    font-family:"helvetica neue", sans-serif;
}

.clarissatext{
    text-align:left;
    position:absolute;
    top:338px;
    left:333px;
    font-family:"helvetica neue", sans-serif;
}


.clarissass img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top:240px;
  left:170px; 
}


.mrinal{
    top: 252px;
    left: 690px;
}

.mrinalco{
    top: 312px;
    left: 650px;
    position:absolute;
    font-family:"helvetica neue", sans-serif;
}

.mrinaltext{
    text-align:left;
    position:absolute;
    top:338px;
    left:333px;
    font-family:"helvetica neue", sans-serif;
}


.mrinalss img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top:240px;
  left:170px; 
}

.nicole{
    top: 265px;
    left: 320px;
}

.nicoleco{
    top: 324px;
    left: 270px;
    position:absolute;
    font-family:"helvetica neue", sans-serif;
}

.nicoletext{
    text-align:right;
    position:absolute;
    top:340px;
    right:349px;
    font-family:"helvetica neue" sans-serif;
}


.nicoless img{
 width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top:240px;
  left:903px; 
}

.carlos{
    top: 310px;
    left: 380px;
}

.carlosco{
     top: 363px;
    left: 340px;
    position:absolute;
    font-family:"helvetica neue", sans-serif;
}

.carlostext{
    text-align:right;
    position:absolute;
    top:340px;
    right:350px;
    font-family:"helvetica neue" sans-serif;
}


.carlosss img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top:240px;
  left:900px; 
}

.perla{
    top: 195px;
    left: 388px;
}

.perlaco{
    top: 255px;
    left: 345px;
    position:absolute;
    font-family:"helvetica neue", sans-serif;
}

.perlatext{
    text-align:right;
    position:absolute;
    top:340px;
    right:350px;
    font-family:"helvetica neue" sans-serif;
}


.perlass img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top:240px;
  left:900px; 
}


.charles{
    top: 180px;
    left: 300px;
}

.charlesco{
    top: 260px;
    left: 240px;
    position:absolute;
    font-family:"helvetica neue", sans-serif;
}

.charlestext{
    text-align:right;
    position:absolute;
    top:340px;
    right:350px;
    font-family:"helvetica neue" sans-serif;
}


.charlesss img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top:240px;
  left:900px; 
}

.jun{
    top: 210px;
    left: 870px;
}

.junco{
    top: 270px;
    left: 830px;
    position:absolute;
    font-family:"helvetica neue", sans-serif;
}

.juntext{
     text-align:left;
    position:absolute;
    top:338px;
    left:333px;
    font-family:"helvetica neue", sans-serif;
}


.junss img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top:240px;
  left:170px; 
}

.pedro{
    top: 351px;
    left: 457px;
}

.pedroco{
   top: 411px;
    left: 417px;
    position:absolute;
    font-family:"helvetica neue", sans-serif;
}

.pedrotext{
    text-align:right;
    position:absolute;
    top:340px;
    right:340px;
    font-family:"helvetica neue" sans-serif;
}


.pedross img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top: 240px;
  left: 910px; 
}




.haleytext{
    text-align:right;
    position:absolute;
    top:340px;
    right:340px;
    font-family:"helvetica neue" sans-serif;
}


.haleyss img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top: 342px;
  left: 910px; 
}

.nikoletta{
    top: 210px;
    left: 627px;
}

.nikolettaco{
    top: 271px;
    left: 587px;
    position:absolute;
    font-family:"helvetica neue", sans-serif;
}

.nikolettatext{
    text-align:right;
    position:absolute;
    top:340px;
    right:340px;
    font-family:"helvetica neue" sans-serif;
}


.nikolettass img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top: 240px;
  left: 910px; 
}

.mortensen{
    top:164px;
    left:567px;
}

.mortensenco{
    top: 231px;
    left: 527px;
    position:absolute;
    font-family:"helvetica neue", sans-serif;
}

.mortensentext{
    text-align:right;
    position:absolute;
    top:340px;
    right:340px;
    font-family:"helvetica neue" sans-serif;
}


.mortensenss img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top: 240px;
  left: 910px; 
}

.juju{
    top: 253px;
    left: 837px;
}

.jujuco{
    top: 315px;
    left: 797px;
    position:absolute;
    font-family:"helvetica neue", sans-serif;
}

.jujutext{
     text-align:left;
    position:absolute;
    top:338px;
    left:333px;
    font-family:"helvetica neue", sans-serif;
}


.jujuss img{
  width:150px;
  height:150px;
  border:solid 1px black;
  position:absolute;
  top:240px;
  left:170px; 
}

img:hover{
    width:150px;
    height:150px;
    opacity:0.4;
}

.horizontalbars{
    position:absolute;
}

.horizontal{
    width:950px;
    height:1px;
    background-color: #000;
    margin:61px 0;
}

.horizontalthick {
    width:950px;
    height:3px;
    background-color: #000;
    margin:61px 0;
}

.verticalbars{
    position:absolute;
}

.vertical{
    width:1px;
    height:580px;
    background-color: #000;
    display:inline-block;
    margin:22px;
     
}

.verticalthick{
    width:3px;
    height:580px;
    background-color: #000;
    display:inline-block;
    margin:22px;
}


.upcor{
    position:absolute;
}

.upcoordinates{
    display:inline-block;
    padding:3px;
    width:39.3px;
    text-align:center;
    margin:1px 0;
   
}

.lowcor{
    position:absolute;
}

.lowcoordinates{
    display: inline-block;
    padding: 3px;
    width: 39.3px;
    text-align: center;
    margin-top:610px;

    
}
.leftcor{
    position:absolute;
}

.leftcoordinates{
    width: 2px;
    margin:46px -40px;
   
    
}

.rightcor{
    position:absolute;
}

.rightcoordinates{
    margin-left: 960px;
    width: 2px;
    padding-top: 3px;
    margin-top: 43px;
}

.equator{
    position:relative;
    top:345px;
    left:31px;
    font-family:"helevetica neue" sans-serif;
    font-size:10px;
}


.leftarrow{
    height:10px;
    width:10px;
    background-image:url(leftarrow.png);
    background-size:10px 10px;
    position:relative;
    top:345px;
    left:-10px;
    
}

.bottomarrow{
    height:10px;
    width:10px;
    background-image:url(bottomarrow.png);
    background-size:10px 10px;
    position:relative;
    top:608px;
    left:459px;
}

.toparrow{
    height:10px;
    width:10px;
    background-image:url(toparrow.png);
    background-size:10px 10px;
    position:relative;
    top:39px;
    left:459px;
}

.rightarrow{
    height:10px;
    width:10px;
    background-image:url(rightarrow.png);
    background-size:10px 10px;
    position:relative;
    top:335px;
    left:949px;
}