body{
    margin:0;
}

.square{
    font-size: 1rem; display: inline-block;
    height:150px;
    width:150px;
    background-color:white;
    font-size: 0;
}

img{
    height:150px;
    width:150px;
    font-size:0;
}


.shoe{
    height:100%;
    width:100%;
}