/*.L{*/
/*	position:fixed;*/
/*	top:8px;*/
/*	left:350px;*/
/*}*/

body{
	background-image: url("bg.gif");
	
}

.line_hor{
	width:2px;
	top:0;
    height:100vh;
    background-color: #000;
    display:inline-block;
    position:fixed;
    left:1000px;
}

.line_ver{
	height:2px;
	top:50%;
    width:1300px;
    background-color: #000;
    display:inline-block;
    position:fixed;
}

.prop{
	width:30px;
	height:30px;
	border-radius:50%;
	margin:45px;
}
.one{
    border:solid 2px black;
    position:fixed;
    top:530px;
    left:100px;
}

.one_red{
	border:solid 2px #BF0000;
    position:fixed;
    top:530px;
    left:100px;
}

.two{
    border:dotted 2px black;
    position:fixed;
    left:300px;
    top:60px;
}

.two_red{
    border:dotted 2px #BF0000;
    position:fixed;
    left:300px;
    top:60px;
}

.three{
    border:dashed 2px black;
    position:fixed;
    left:250px;
    top:300px;
}

.three_red{
	border:dashed 2px #BF0000;
    position:fixed;
    left:250px;
    top:300px;		
}

.four{
    background-color:black;
    border:inset 2px black;
    position:fixed;
    top:300px;
    left:600px;
}

.four_red{
	background-color:#BF0000;
    border:inset 2px #BF0000;
    position:fixed;
    top:300px;
    left:600px;
}

.five{
    border: dotted 6px black;
    position:fixed;
    left:450px;
    top:430px;
}

.five_5{
	border: dotted 6px #BF0000;
    position:fixed;
    left:450px;
    top:430px;
}

.key{
	width:120px;
	height:160px;
 	position:fixed;
	left:1100px;
}

.prop_2{
	width:10px;
	height:10px;
	border-radius:50%;
	margin:10px;
	position:absolute;
}

.pos{
	position:absolute;
	left:30px;
}
.unsweep{
	top:7px;
}

.one_unsweep{
	border:solid 1px #BF0000;
    position:relative;
}

.whistle_2{
	border:dotted 1px #BF0000;
    position:relative;
    top:10px;
}



.sound{
	position:fixed;
	color:#BF0000;
	top:20px;
	left:20px;
	font-family:"minion pro", serif;
	font-size:15px;
}


.slowdown_sound{
	position:fixed;
	color:#BF0000;
	top:20px;
	left:20px;
	font-family: "minion pro", serif;
	font-size:15px;
}

.slowdown_2{
	border:dashed 1px #BF0000;
    position:relative;
    top:20px;	
}

.one_2{
	border:solid 1px black;
    position:relative;
}

.whistle{
	top:40px;
}

.two_2{
	border:dotted 1px black;
    position:relative;
    top:10px;
}

.slowdown{
	top:72px;
}

.three_2{
	border:dashed 1px black;
    position:relative;
    top:20px;
}

.julia{
	top:104px;
}

.julia_sound{
 	position:fixed;
	color:#BF0000;
	top:20px;
	left:20px;
	font-family: "minion pro", serif;
	font-size:15px;
}

.julia_2{
  	background-color:#BF0000;
    border: inset 1px #BF0000;
    position:relative;
    top:30px;
}

.four_2{
    background-color:black;
    border:inset 1px black;
    position:relative;
    top:30px;
}

.train{
	top:136px;
}

.train_2{
	border: dotted 2px #BF0000;
    position:relative;
    top:40px;
}

.train_sound{
	position:fixed;
	color:#BF0000;
	top:20px;
	left:20px;
	font-family: "minion pro", serif;
	font-size:15px;
}

.five_2{
	border: dotted 2px black;
    position:relative;
    top:40px;
}

.A{
	position:fixed;
}

.wrapper{
	height:200px;
	width:150px;
	position:relative;
}

.vertical-line {
	position: relative;
	display:inline-block;
	height: 200px;
	width: 3px;
}

.v-thin{
    width: 2px;
	height:180px;
}
.v-medium {
	width: 4px;
	height:130px;
}

.v-thick {
	width: 6px;
	height:70px;
}

.v-line-A-l{
	position:relative;
	display:inline-block;
}


.v-line-A-r{
	position:relative;
	display:inline-block;
	left:0px;
}

.horizontal-line {
	position: relative;
	display:inline-block;
	height: 5px;
	width: 3px;
}

.h-thin {
	width: 2px;
	height:45px;
}

.h-medium {
	width: 4px;
	height:29px;
}

.h-thick {
	width: 6px;
	height:15px;
}
.h-line-A-t{
	position:relative;
	display:inline-block;
	bottom:162px;
	right:41px;
 
}

.h-line-A-b{
	position:relative;
	display:inline-block;
	bottom:101px;
	right:38px;

}
	
.segARed{
	background-color: #BF0000;
	position: absolute;
	top: 50%;
	left: 400%;
	-webkit-transform: translate(-50%, -50%);
}

.segA {
	background-color: black;
	position: absolute;
	top: 50%;
	left: 400%;
	-webkit-transform: translate(-50%, -50%);
}

.segA-1{
	background-color:black;
	position:absolute;
	top:50%;
	left:1610%;
	-webkit-transform: translate(-50%, -50%);
}

.segA-1Red{
	background-color:#BF0000;
	position:absolute;
	top:50%;
	left:1610%;
	-webkit-transform: translate(-50%, -50%);
}

.seg-2A {
	background-color: black;
	position: absolute;
	top: -15%;
	left: 392%;
	-webkit-transform: translate(-50%, -50%);
}

.seg-2ARed {
	background-color: #BF0000;
	position: absolute;
	top: -15%;
	left: 392%;
	-webkit-transform: translate(-50%, -50%);
}

.seg-2A2{
	background-color:black;
	position:absolute;
	top:18%;
	left:-871%;
	-webkit-transform: translate(-50%, -50%);
}

.B{
	position:fixed;
	left:150px;
}


.v-line-B-l{
	position:relative;
	display:inline-block;
	
}

.horizontal-line {
	position: relative;
	display:inline-block;
	height: 5px;
	width: 3px;
}

.h-line-B-t{
	position:absolute;
	display:inline-block;
	top:22px;
	left:80px;
}

.h-line-B-m{
	position:absolute;
	display:inline-block;
	top:90px;
	left:80px;
}

.h-line-B-b{
	position:absolute;
	display:inline-block;
	top:158px;
	left:80px;

}
	

.segA {
	background-color: black;
	position: absolute;
	top: 50%;
	left: 400%;
	-webkit-transform: translate(-50%, -50%);
}

.segA-1{
	background-color:black;
	position:absolute;
	top:50%;
	left:1610%;
	-webkit-transform: translate(-50%, -50%);
	
}

.seg-2A {
	background-color: black;
	position: absolute;
	top: -15%;
	left: 392%;
	-webkit-transform: translate(-50%, -50%);
}

.seg-2A2{
	background-color:black;
	position:absolute;
	top:18%;
	left:-871%;
	-webkit-transform: translate(-50%, -50%);
}

.seg-2A2Red{
	background-color:#BF0000;
	position:absolute;
	top:18%;
	left:-871%;
	-webkit-transform: translate(-50%, -50%);
}
.v-line-B-r-t{
	position:absolute;
	display:inline-block;
	left:91px;
	bottom:130px;
}

.v-line-B-r-b{
	position:absolute;
	display:inline-block;
	left:91px;
	bottom:50px;
}

.vertical-line-B{
	position: relative;
	display:inline-block;
	width:3px;
}

.v-thin-B{
     width: 2px;
	height:75px;
}
.v-medium-B{
	width: 4px;
	height:60px;
}

.v-thick-B {
	width: 6px;
	height:30px;
}

.C{
	position:fixed;
	left:260px;
}
	
.h-line-C-t{
	position:absolute;
	top:23px;
	left:80px;
}

.h-line-C-b{
	position:absolute;
	top:157px;
	left:80px;
}

.D{
	position:fixed;
	left:380px;
}
	
.h-line-D-t{
	position:absolute;
	top:23px;
	left:80px;
}

.h-line-D-b{
	position:absolute;
	top:157px;
	left:80px;
}

.v-line-D-r{
	position:absolute;
	left:90px;
	top:5px;
}

.v-D-thin{
	width:2px;
	height:140px;
}

.v-D-medium{
	width:4px;
	height:100px;
}

.v-D-thick{
	width:6px;
	height:60px;
}

.E{
	position:fixed;
	left:500px;
}

.F{
	position:fixed;
	left:620px;
}

.G{
	position:fixed;
	left:740px;
}


.h-line-G-long{
	position:absolute;
	display:inline-block;
	left:70px;
	bottom:54px;
}

.h-G-thin{
	width:2px;
	height:100px;
}

.h-G-medium{
	width:4px;
	height:80px;
}

.h-G-thick{
	width:6px;
	height:40px;
}

.H{
	position:fixed;
	left:860px;
}

.h-line-H-b{
	position:absolute;
	left:81px;
	bottom:90px;
}


.I{
	position:fixed;
	top:10px;
	right:70px;
}

.wrapper-I{
	height:200px;
	width:180px;
	position:relative;
}

.v-line-I-m{
	position:absolute;
	display:inline-block;
	left:42px;
}

.v-I-thin{
     width: 2px;
	height:80px;
}
.v-I-medium{
	width: 4px;
	height:60px;
}

.v-I-thick{
	width: 6px;
	height:30px;
}

.h-line-I-t{
	display:inline-block;
	position:absolute;
	bottom:160px;
	left:45px;
}

.h-line-I-b{
	display:inline-block;
	position:absolute;
	left:45px;
	bottom:25px;
}

.J{
	position:fixed;
	top:200px;
}

.v-line-J-m{
	position:absolute;
	display:inline-block;
	left:42px;
	top:25px;
}
.v-J-thin{
     width: 2px;
	height:130px;
}
.v-J-medium{
	width: 4px;
	height:100px;
}

.v-J-thick{
	width: 6px;
	height:50px;
}

.v-line-J-s{
	position:absolute;
	display:inline-block;
	left:12px;
	top:65px;
}

.v-J-s-thin{
     width: 2px;
	height:50px;
}
.v-J-s-medium{
	width: 4px;
	height:30px;
}

.v-J-s-thick{
	width: 6px;
	height:15px;
}

.K{
	position:fixed;
	left:150px;
	top:200px;
}

.h-line-K-m{
	position:absolute;
	display:inline-block;
	left:80px;
	bottom:110px;
	
}

.h-line-K-t1{
	position:absolute;
	display:inline-block;
	left:100px;
	bottom:130px;
	
}

.h-line-K-t2{
	position:absolute;
	display:inline-block;
	left:120px;
	bottom:160px;
	
}

.h-line-K-m2{
	position:absolute;
	display:inline-block;
	left:80px;
	bottom:64px;
	
}

.h-line-K-b1{
	position:absolute;
	display:inline-block;
	left:100px;
	bottom:45px;
	
}

.h-line-K-b2{
	position:absolute;
	display:inline-block;
	left:120px;
	bottom:25px;
}

.L{
	position:fixed;
	left:260px;
	top:200px;
}

.M{
	position:fixed;
	left:380px;
	top:200px;
}

h-line-M-m{
	position:absolute;
	display:inline-block;
	top:100px;
}

.h-line-M-m{
	position:absolute;
	left:95px;
	bottom:106px;
}

.v-line-M-l{
	position:absolute;
	display:inline-block;
	left:43px;
	bottom:148px;
}

.v-line-M-r{
	position:absolute;
	display:inline-block;
	left:64px;
	bottom:148px;
}

.N{
	position:fixed;
	left:520px;
	top:200px;
}

.v-line-N-r{
	position:absolute;
	display:inline-block;
	left:63px;
	bottom:42px;
}

.v-line-N-m{
	position:absolute;
	display:inline-block;
	left:55px;
	bottom:93px;
}

.O{
	position:fixed;
	left:660px;
	top:200px;
}

.h-line-O-t{
	position:absolute;
	left:81px;
	top:23px;
}

.h-line-O-b{
	position:absolute;
	left:81px;
	bottom:23px;
}

.v-O-thin{
     width: 2px;
	height:160px;
}
.v-O-medium {
	width: 4px;
	height:80px;
}

.v-O-thick {
	width: 6px;
	height:50px;
}

.P{
	position:fixed;
	left:800px;
	top:200px;
}

.Q{
	position:fixed;
	left:920px;
	top:200px;
}

.h-Q-thin{
    width: 2px;
	height:40px;
}
.h-Q-medium {
	width: 4px;
	height:25px;
}

.h-Q-thick {
	width: 6px;
	height:10px;
}

.h-line-Q-sb{
	position:absolute;
	display:inline-block;
	left:81px;
	bottom:25px;
}

.h-q-thin{
    width: 2px;
	height:55px;
}
.h-q-medium {
	width: 4px;
	height:35px;
}

.h-q-thick {
	width: 6px;
	height:13px;
}
	
.h-line-Q-bs{
	position:absolute;
	display:inline-block;
	left:95px;
	bottom:17px;
}

.h-line-Q-s{
	position:absolute;
	display:inline-block;
	left:118px;
	bottom:0px;
}
.h-qs-thin{
    width: 2px;
	height:20px;
}
.h-qs-medium {
	width: 4px;
	height:10px;
}

.h-qs-thick {
	width: 6px;
	height:5px;
}

.R{
	position:fixed;
	left:1060px;
	top:200px;
}

.h-line-R-t{
	position:absolute;
	display:inline-block;
	left:87px;
	bottom:45px;
	
}

.h-line-R-m{
	position:absolute;
	display:inline-block;
	left:101px;
	bottom:38px;
}

.h-line-R-m2{
	position:absolute;
	display:inline-block;
	left:115px;
	bottom:30px;
}

.h-line-R-b{
	position:absolute;
	display:inline-block;
	left:129px;
	bottom:20px;
}

.S{
	position:fixed;
	top:400px;
}

.v-S-thin{
     width: 2px;
	height:90px;
}
.v-S-medium {
	width: 4px;
	height:70px;
}

.v-S-thick {
	width: 6px;
	height:40px;
}

.v-line-S-l{
	position:absolute;
	display:inline-block;
	bottom:20px;
	left:10px;
}

.v-line-S-r{
	position:absolute;
	display:inline-block;
	left:100px;
	top:30px;
}
.segS{
	background-color:black;
	position:absolute;
	top:50%;
	left:160%;
	-webkit-transform: translate(-50%, -50%);
}

.segSRed{
	background-color:#BF0000;
	position:absolute;
	top:50%;
	left:160%;
	-webkit-transform: translate(-50%, -50%);
}

.h-line-S-t{
	position:absolute;
	display:inline-block;
	bottom:155px;
	left:38px;
}

.h-line-S-t2{
	position:absolute;
	display:inline-block;
	bottom:148px;
	left:102px;
}

.h-line-S-m{
	position:absolute;
	display:inline-block;
	bottom:80px;
	left:37px;
}

.h-line-S-b{
	position:absolute;
	display:inline-block;
	bottom:22px;
	left:30px;
}

.h-line-S-b2{
	position:absolute;
	display:inline-block;
	bottom:30px;
	left:15px;
}

.T{
	position:fixed;
	top:400px;
	left:140px;
}

.U{
	position:fixed;
	top:400px;
	left:280px;
}
.h-line-U{
	position:absolute;
	left:80px;
	bottom:25px;
}

.V{
	position:fixed;
	top:400px;
	left:420px;
}

.v-line-V-l{
	position:absolute;
	bottom:20px;
}

.v-line-V-r{
	position:absolute;
	bottom:20px;
	left:40px;
}
.v-V-thin{
    width: 2px;
	height:130px;
}
.v-V-medium {
	width: 4px;
	height:90px;
}


.v-V-thick {
	width: 6px;
	height:40px;
}

.W{
	position:fixed;
	top:400px;
	left:550px;
	transform:rotate(180deg);
}

.X{
	position:fixed;
	top:400px;
	left:740px;
}

.h-line-X-t{
	position:absolute;
	top:60px;
}

.h-line-X-tl-1{
	position:absolute;
	top:40px;
	left:-20px;
}

.h-line-X-tl-2{
	position:absolute;
	top:25px;
	left:-35px;
}

.h-line-X-tr-1{
	position:absolute;
	top:40px;
	left:35px;
}

.h-line-X-tr-2{
	position:absolute;
	top:25px;
	left:55px;
}

.h-line-X-b{
	position:absolute;
	top:110px;
}

.h-line-X-bl-1{
	position:absolute;
	top:130px;
	left:-22px;
}

.h-line-X-bl-2{
	position:absolute;
	top:160px;
	left:-35px;
}

.h-line-X-br-1{
	position:absolute;
	top:130px;
	left:35px;
}

.h-line-X-br-2{
	position:absolute;
	top:160px;
	left:55px;
}

.Y{
	position:fixed;
	top:400px;
	left:860px;
}

.h-line-Y-tl-1{
	position:absolute;
	top:40px;
	left:-14px;
}

.h-line-Y-tl-2{
	position:absolute;
	top:25px;
	left:-28px;
}

.h-line-Y-tr-1{
	position:absolute;
	top:42px;
	left:43px;
}

.h-line-Y-tr-2{
	position:absolute;
	top:25px;
	left:56px;
}

.v-line-Y{
	position:absolute;
	top:43px;
}

.v-Y-thin{
     width: 2px;
	height:95px;
}
.v-Y-medium {
	width: 4px;
	height:80px;
}

.v-Y-thick {
	width: 6px;
	height:20px;
}

.Z{
	position:fixed;
	top:400px;
	left:960px;
}

.h-line-Z-b{
	position:absolute;
	top:158px;
	left:60px;
	
}

.h-Z-thin {
	width: 2px;
	height:90px;
}

.h-Z-medium {
	width: 4px;
	height:58px;
}

.h-Z-thick {
	width: 6px;
	height:30px;
}

.h-line-Z-r{
	display:inline-block;
	position:absolute;
	left:143px;
	top:45px;
}

.h-line-Z-l{
	display:inline-block;
	position:absolute;
	top:135px;
	left:45px;
}

.h-line-Z-1{
	position:absolute;
	display:inline-block;
	top:68px;
	left:122px;
}

.h-line-Z-2{
	position:absolute;
	display:inline-block;
	top:100px;
	left:80px;
}

.h-line-Z-3{
	position:absolute;
	display:inline-block;
	top:80px;
	left:101px;
}

.h-line-Z-4{
	position:absolute;
	display:inline-block;
	top:112px;
	left:60px;
}

.quote{
	position:fixed;
	top:420px;
	left:1100px;
}

.quo_left{
	position:relative;
	
}

.quo_right{
	position:relative;
	left:25px;
	bottom:18px;
	
}

.comma{
	position:fixed;
	top:560px;
	left:1110px;
}

.short{
	display:inline-block;
	position:relative;
	left:25px;
	bottom:7px;
}

.container{
	width:5000px;
    height:auto;
    margin:0 auto;
}

.container_all{
	height:200px;
	width:4000px;
	display:inline-block;
	position:absolute;
	top:30%;
}

.text_s147{
	height:200px;
	width:4000px;
	display:inline-block;
	position:absolute;
	top:10%;
	left:10px;
}

.s147{
	position:absolute;
	left:4px;
}

.M_1{
	left:40px;
}

.Y_1{
	left:195px;
}

.R_1{
	left:335px;
}

.E_1{
	left:447px;
}

.A_1{
	left:559px;
}

.S_1{
	left:682px;
}

.O_1{
	left:817px;
}

.N_1{
	left:944px;
}

.comma_1{
	top:180px;
	left:1075px;
}

.T_1{
	left:1099px;
}

.H_1{
	left:1223px;
}

.E_1_2{
	left:1350px;	
}

.P_1{
	left:1560px;	
}


.H_1_2{
	left:1671px;
}

.Y_1_2{
	left:1825px;
}

.S_1_2{
	left:1900px;
}

.I_1{
	left:2030px;
}

.C_1{
	left:2162px;
}

.I_1_2{
	left:2267px;
}

.A_1_2{
	left:2400px;
}

.N_1_2{
	left:2533px;
}

.T_1_2{
	left:2743px;
}

.O_1_2{
	left:2870px;
}

.M_1_2{
	left:3100px;
}

.Y_1_3{
	left:3255px;
}

.L_1{
	left:3450px;
}

.O_1_3{
	left:3562px;
}

.V_1{
	left:3688px;
}

.E_1_3{
	left:3815px;
}

.quote_1_2{
	left:3936px;
}


.container_whis{
	height:230px;
	width:10620px;
	display:inline-block;
	position:absolute;
	top:35%;
	overflow:hidden;
}


.text_s57{
	height:250px;
	width:10560px;
	display:inline-block;
	position:absolute;
	top:10%;
	left:51px;	
}

.s57{
	position:absolute;
}

.N_2{
	left:0px;
}

.O_2{
	left:132px;
}

.R_2{
	left:260px;
}


.T_2{
	left:504px;
}

.H_2{
	left:630px;
}

.I_2{
	left:750px;
}

.N_2_2{
	left:882px;
}

.K_2{
	left:1009px;
}

.T_2_5{
	left:1302px;
}

.H_2_2{
	left:1428px;
}

.E_2{
	left:1560px;
}

.B_2{
	left:1800px;
}

.I_2_3{
	left:1910px;
}

.T_2_2{
	left:2030px;
}

.T_2_3{
	left:2150px;
}

.E_2_2{
	left:2281px;
}

.R_2_2{
	left:2400px;
}

.N_2_3{
	left:2520px;
}

.E_2_3{
	left:2647px;
}

.S_2{
	left:2755px;
}

.S_2_2{
	left:2887px;
}

.O_2_2{
	left:3204px;
}

.F_2{
	left:3332px;
}

.A_2{
	left:3604px;
}

.B_2_2{
	left:3730px;
}

.S_2_3{
	left:3840px;
}

.E_2_4{
	left:3976px;
}

.N_2_4{
	left:4095px;
}

.C_2{
	left:4227px;
}

.E_2_5{
	left:4340px;
}

.S_2_4{
	left:4653px;
}

.O_2_3{
	left:4788px;
}

.U_2{
	left:4920px;
}

.R_2_3{
	left:5047px;
}

.comma_2{
	left:5173px;
	top:190px;
}

.W_2{
	left:5348px;
	transform: rotate(180deg);
}

.H_2_3{
	left:5488px;
}

.E_2_6{
	left:5620px;
}

.N_2_5{
	left:5740px;
}

.Y_2{
	left:6048px;
}

.O_2_4{
	left:6131px;
}

.U_2_2{
	left:6258px;
}

.H_2_4{
	left:6552px;
}

.A_2_2{
	left:6678px;
}

.V_2{
	left:6810px;
}

.E_2_7{
	left:6937px;
}

.B_2_3{
	left:7203px;
}

.I_2_2{
	left:7308px;
}

.D_2{
	left:7442px;
}

.Y_2_2{
	left:7700px;
}

.O_2_5{
	left:7783px;
}

.U_2_3{
	left:7910px;
}

.R_2_4{
	left:8043px;
}

.S_2_5{
	left:8300px;
}

.E_2_8{
	left:8435px;
}

.R_2_5{
	left:8547px;
}

.V_2_2{
	left:8660px;
}

.A_2_3{
	left:8792px;
}

.N_2_6{
	left:8918px;
}

.T_2_4{
	left:9037px;
}

.O_2_6{
	left:9282px;
}

.N_2_7{
	left:9408px;
}

.C_2_2{
	left:9540px;
}

.E_2_9{
	left:9653px;
}

.A_2_4{
	left:9904px;
}

.D_2_2{
	left:10031px;
}

.I_2_4{
	left:10143px;
}

.E_2_10{
	left:10270px;
}

.U_2_4{
	left:10380px;
}

.quote_whis1{
	position:relative;
	top:200px;
	width:20px;
}

.quote_whis2{
	position:relative;
	top:160px;
	left:10560px;
	width:20px;
}


.container_julia{
	height:200px;
	width:15830px;
	display:inline-block;
	position:absolute;
	top:35%;
	
}

.quote_julia1{
	position:absolute;
	top:200px;
	width:20px;
}

.quote_julia2{
	position:absolute;
	top:200px;
	left:15830px;
	width:100px;

}

.j71{
	position:absolute;
}

.N_3{
	left:57px;
}

.O_3{
	left:190px;
}

.L_3{
	left:430px;
}

.O_3_2{
	left:540px;
}

.N_3_2{
	left:667px;
}

.G_3{
	left:800px;
}

.E_3{
	left:911px;
}

.R_3{
	left:1023px;
}

.M_3{
	left:1248px;
}

.O_3_3{
	left:1380px;
}

.U_3{
	left:1507px;
}

.R_3_2{
	left:1640px;
}

.N_3_3{
	left:1759px;
}

.F_3{
	left:1998px;
}

.O_3_4{
	left:2116px;
}

.R_3_3{
	left:2249px;
}

.M_3_2{
	left:2500px;
}

.E_3_2{
	left:2627px;
}

.W_3{
	left:2900px;
	transform:rotate(180deg);
}


.H_3{
	left:3040px;
}

.E_3_3{
	left:3167px;
}

.N_3_4{
	left:3278px;
}

.I_3{
	left:3550px
}

.A_3{
	left:3852px;
}

.M_3_3{
	left:3978px;
}

.D_3{
	left:4250px;
}

.E_3_4{
	left:4370px;
}

.A_3_2{
	left:4481px;
}

.D_3_2{
	left:4609px;
}

.T_3{
	left:4901px;
}

.H_3_2{
	left:5028px;
}

.E_3_5{
	left:5160px;
}

.N_3_5{
	left:5272px;
}

.Y_3{
	left:5601px;
}

.O_3_5{
	left:5678px;
}

.U_3_2{
	left:5811px;
}

.S_3{
	left:6103px;
}

.H_3_3{
	left:6239px;
}

.A_3_3{
	left:6371px;
}

.L_3_2{
	left:6498px;
}

.L_3_3{
	left:6610px;
}

.H_3_4{
	left:6903px;
}

.E_3_6{
	left:7030px;
}

.A_3_4{
	left:7142px;
}

.R_3_4{
	left:7268px;
}

.T_3_2{
	left:7555px;
}

.H_3_5{
	left:7680px;
}

.E_3_7{
	left:7808px;
}

.S_3_2{
	left:8105px;
}

.U_3_3{
	left:8240px;
}

.R_3_5{
	left:8367px;
}

.L_3_4{
	left:8487px;
}

.Y_3_2{
	left:8606px;
}

.S_3_3{
	left:8903px;
}

.U_3_4{
	left:9039px;
}

.L_3_5{
	left:9171px;
}

.L_3_6{
	left:9283px;
}

.E_3_8{
	left:9395px;
}

.N_3_6{
	left:9508px;
}

.B_3{
	left:9802px;
}

.E_3_9{
	left:9915px;
}

.L_3_7{
	left:10032px;
}

.L_3_8{
	left:10145px;
}

.G_3_2{
	left:10453px;
}

.I_3_2{
	left:10558px;
}

.V_3{
	left:10690px;
}

.E_3_10{
	left:10818px;
}

.W_3_2{
	left:11146px;
	transform:rotate(180deg);
}

.A_3_5{
	left:11293px;
}

.R_3_6 {
	left:11420px;
}

.N_3_7{
	left:11538px;
}

.I_3_3{
	left:11657px;
}

.N_3_8{
	left:11790px;
}

.G_3_3{
	left:11916px;
}

.T_3_3{
	left:12217px;
}

.O_3_6 {
	left:12350px;
}

.T_3_4{
	left:12650px;
}

.H_3_6{
	left:12777px;
}

.E_3_11{
	left:12910px;
}

.W_3_3{
	transform: rotate(180deg);
	left:13204px;
}

.O_3_7{
	left:13343px;
}

.R_3_7{
	left:13470px;
}

.L_3_9{
	left:13590px;
}

.D_3_3{
	left:13701px;
}

.T_3_5{
	left:13960px;
}

.H_3_7{
	left:14085px;
}

.A_3_6{
	left:14218px;
}

.T_3_6{
	left:14338px;
}

.I_3_4{
	left:14639px;
}

.A_3_7{
	left:14940px;
}

.M_3_4 {
	left:15065px;
}

.F_3_2{
	left:15367px;
}

.L_3_10{
	left:15480px;
}

.E_3_12{
	left:15590px;
}

.D_3_4{
	left:15703px;
}

/*images*/
.random-image{
	width:600px;
	height:400px;
	background-size:600px 400px;
	opacity: 0.8;
}

.hide {
	display:none;
}

.random-image-1{
	position:fixed;
	top:10px;
	left:150px;
	background-image:url(un1.jpg);
	z-index:-1;
	/*display:none;*/
}

.random-image-2{
	background-image:url(un2.jpg);
	position:fixed;
	top:250px;
	left:600px;
	/*display:none;*/
}

.random-image-3{
	background-image:url(un3.jpg);
	position:fixed;
	top:200px;
	left:100px;
	/*display:none;*/
}

.random-image-1_2{
	position:fixed;
	top:10px;
	left:10px;
	background-image:url(whi1.jpg);
	z-index:-1;
	/*display:none;*/
}

.random-image-2_2{
	background-image:url(whi2.jpg);
	position:fixed;
	top:100px;
	left:400px;
	/*display:none;*/
}

.random-image-3_2{
	background-image:url(whi3.jpg);
	position:fixed;
	top:200px;
	left:400px;
	/*display:none;*/
}


.random-image-1_3_2{
	position:fixed;
	top:10px;
	left:850px;
	background-image:url(sl1.gif);
	z-index:-1;
	/*display:none;*/
}

.random-image-2_3_2{
	background-image:url(sl2.jpg);
	position:fixed;
	top:250px;
	left:20px;
	/*display:none;*/
}

.random-image-1_4{
	position:fixed;
	top:220px;
	left:150px;
	background-image:url(ju1.jpg);
	z-index:-1;
	/*display:none;*/
}

.random-image-2_4{
	background-image:url(ju2.jpg);
	position:fixed;
	top:250px;
	left:600px;
	/*display:none;*/
}

.random-image-3_4{
	background-image:url(ju3.jpg);
	position:fixed;
	top:5px;
	left:550px;
	/*display:none;*/
}

.random-image-1_5{
	position:fixed;
	top:10px;
	left:550px;
	background-image:url(tr1.jpeg);
	z-index:-1;
	/*display:none;*/
}

.random-image-2_5{
	background-image:url(tr2.gif);
	position:fixed;
	top:100px;
	left:600px;
	/*display:none;*/
}

.random-image-3_5{
	background-image:url(tr3.jpg);
	position:fixed;
	top:200px;
	left:100px;
	/*display:none;*/
}

/*placing the clickable parts of the M */
#click1 {
	/*background-color: red;*/
	width: 120px;
	height: 55px;
	position: absolute;
	top:35px;
	left:1560px;
	z-index:1000;
}

#click2 {
	position:absolute;
	/*background-color: yellow;*/
	width: 120px;
	height: 55px;
	left:1560px;
	top:85px;
	z-index:1000;
}

#click3 {
	/*background-color: blue;*/
	position:absolute;
	width: 120px;
	height: 55px;
	left:1560px;
	top:125px;
	z-index:1000;
}

#click1_2 {
	/*background-color: red;*/
	width: 120px;
	height: 65px;
	position: absolute;
	top:35px;
	left:8103px;
	z-index:1000;
}

#click2_2 {
	position:absolute;
	/*background-color: yellow;*/
	width: 120px;
	height: 65px;
	left:8103px;
	top:95px;
	z-index:1000;
}

#click3_2 {
	 /*background-color: blue;*/
	position:absolute;
	width: 120px;
	height: 55px;
	left:8103px;
	top:155px;
	z-index:1000;
}

#click1_3_2 {
	/*background-color: red;*/
	width: 120px;
	height: 85px;
	position: absolute;
	top:15px;
	left:3320px;
	z-index:1000;
}

#click2_3_2 {
	position:absolute;
	/*background-color: yellow;*/
	width: 120px;
	height:85px;
	left:3320px;
	top:95px;
	z-index:1000;
}

#click1_4 {
	/*background-color: red;*/
	width: 120px;
	height: 55px;
	position: absolute;
	top:20px;
	left:14338px;
	z-index:1000;
}

#click2_4 {
	position:absolute;
	/*background-color: yellow;*/
	width: 120px;
	height: 55px;
	left:14338px;
	top:75px;
	z-index:1000;
}

#click3_4 {
	/*background-color: blue;*/
	position:absolute;
	width: 120px;
	height: 55px;
	left:14338px;
	top:125px;
	z-index:1000;
}


#click1_5 {
	/*background-color: red;*/
	width: 120px;
	height: 55px;
	position: absolute;
	top:35px;
	left:11150px;
	z-index:1000;
}

#click2_5 {
	position:absolute;
	/*background-color: yellow;*/
	width: 125px;
	height: 75px;
	left:11162px;
	top:85px;
	z-index:1000;
}

#click3_5 {
	/*background-color: blue;*/
	position:absolute;
	width: 120px;
	height: 75px;
	left:11170px;
	top:155px;
	z-index:1000;
}

.container_slowdown{
	height:230px;
	width:10620px;
	display:inline-block;
	position:absolute;
	top:35%;
}

.s47{
	position:absolute;
	left:4px;
}

.O_4{
	left:58px;
}

.R_4{
	left:184px;
}

.I_4{
	left:400px;
}

.F_4{
	left:534px;
}

.T_4{
	left:751px;
}

.H_4{
	left:877px;
}

.E_4{
	left:1010px;
}

.Y_4{
	left:1150px;
}

.S_4{
	left:1371px;
}

.L_4{
	left:1508px;
}

.E_4_2{
	left:1619px;
}

.E_4_3{
	left:1730px;
}

.P_4{
	left:1844px;
}

.comma_4{
	left:1948px;
	top:190px;
}

.T_4_2{
	left:2095px;
}

.H_4_2{
	left:2220px;
}

.Y_4_2{
	left:2375px;
}

.P_4_2{
	left:2599px;
}

.I_4_2{
	left:2711px;
}

.C_4{
	left:2851px;
}

.T_4_3{
	left:2956px;
}

.U_4{
	left:3081px;
}

.R_4_2{
	left:3208px;
}

.E_4_4{
	left:3320px;
}

.I_4_3{
	left:3600px;
}

.N_4{
	left:3734px;
}

.M_4{
	left:4013px;
}

.Y_4_3{
	left:4167px;
}

.S_4_2{
	left:4402px;
}

.I_4_4{
	left:4531px;
}

.G_4{
	left:4671px;
}

.H_4_3{
	left:4789px;
}

.T_4_4{
	left:4909px;
}

.A_4{
	left:5203px;
}

.W_4{
	left:5315px;
	transform:rotate(180deg);
}

.A_4_2{
	left:5462px;
}

.K_4{
	left:5588px;
}

.E_4_5{
	left:5700px;
}

.S_4_3{
	left:5809px;
}

.M_4_2 {
	left:6098px;
}

.Y_4_4{
	left:6253px;
}

.H_4_4{
	left:6497px;
}

.E_4_6{
	left:6624px;
}

.A_4_3{
	left:6736px;
}

.R_4_3{
	left:6862px;
}

.T_4_5{
	left:6967px;
}

.T_4_6{
	left:7300px;
}

.O_4_2{
	left:7429px;
}

.H_4_5{
	left:7709px;
}

.E_4_7{
	left:7835px;
}

.A_4_4{
	left:7947px;
}

.R_4_4{
	left:8073px;
}

.T_4_7{
	left:8179px;
}

.quo_4{
	left:8304px;
}

.S_4_4{
	left:8328px;
}


.A_4_5{
	left:8597px;
}

.N_4_2{
	left:8723px;
}

.D_4{
	left:8850px;
}

.E_4_8{
	left:9102px;
}

.Y_4_5{
	left:9242px;
}

.E_4_9{
	left:9319px;
}

.quo_4_2{
	left:9431px;
}

.S_4_5{
	left:9449px;
}

.D_4_2{
	left:9704px;
}

.E_4_10{
	left:9823px;
}

.L_4_2{
	left:9935px;
}

.I_4_5{
	left:10040px;
}

.G_4_2{
	left:10173px;
}

.H_4_6{
	left:10285px;
}

.T_4_8{
	left:10404px;
}

.quote_4_3{
	left:10551px;
}

.container_train{
	height:200px;
	width:12100px;
	display:inline-block;
	position:absolute;
	top:20%;
}

.t97{
	position:absolute;
	left:64px;
}

.R_5{
	left:191px;
}

.I_5{
	left:450px;
}

.F_5{
	left:583px;
}

.T_5{
	left:849px;
}

.H_5{
	left:975px;
}

.E_5{
	left:1100px;
}

.Y_5{
	left:1241px;
}

.S_5{
	left:1490px;
}

.I_5_2{
	left:1620px;
}

.N_5{
	left:1752px;
}

.G_5{
	left:1878px;
}

.comma_5{
	left:2004px;
	top:180px;
}

.quote_5_3{
	left:2200px;
}

.T_5_3{
	left:2221px;
}

.I_5_3{
	left:2340px;
}

.S_5_2 {
	left:2470px;
}

.W_5{
	transform:rotate(180deg);
	left:2796px;
}

.I_5_4{
	left:2927px;
}

.T_5_4{
	left:3047px;
}

.H_5_2{
	left:3173px;
}

.S_5_3{
	left:3499px;
}

.O_5_2{
	left:3635px;
}

.D_5{
	left:3950px;
}

.U_5{
	left:4068px;
}

.L_5{
	left:4195px;
}

.L_5_2{
	left:4307px;
}

.A_5{
	left:4600px;
}

.C_5{
	left:4937px;
}

.H_5_3{
	left:5048px;
}

.E_5_2{
	left:5175px;
}

.E_5_3{
	left:5287px;
}

.R_5_2{
	left:5400px;
}

.T_5_5 {
	left:5700px;
}

.H_5_4{
	left:5826px;
}

.A_5_2{
	left:5952px;
}

.T_5_6{
	left:6071px;
}

.L_5_3{
	left:6371px;
}

.E_5_4{
	left:6485px;
}

.A_5_3{
	left:6597px;
}

.V_5{
	left:6722px;
}

.E_5_5{
	left:6848px;
}

.S_5_4{
	left:6957px;
}

.L_5_4{
	left:7296px;
}

.O_5_3{
	left:7408px;
}

.O_5_4{
	left:7534px;
}

.K_5{
	left:7660px;
}

.P_5{
	left:7961px;
}

.A_5_4{
	left:8073px;
}

.L_5_5{
	left:8200px;
}

.E_5_6{
	left:8310px;
}

.D_5_2{
	left:8633px;
}

.R_5_3{
	left:8753px;
}

.E_5_7{
	left:8871px;
}

.A_5_5{
	left:8983px;
}

.D_5_3{
	left:9110px;
}

.I_5_5{
	left:9221px;
}

.N_5_2{
	left:9354px;
}

.G_5_2{
	left:9480px;
}

.T_5_7{
	left:9802px;
}

.H_5_5{
	left:9928px;
}

.E_5_8{
	left:10060px;
}

.W_5_2{
	transform:rotate(180deg);
	left:10398px;
}

.I_5_6{
	left:10530px;
}

.N_5_3{
	left:10663px;
}

.T_5_8{
	left:10783px;
}

.E_5_9{
	left:10908px;
}

.R_5_4{
	left:11020px;
}

.quote_5_4{
	left:11132px;
}

.S_5_5{
	left:11150px;
}

.N_5_4 {
	left:11552px;
}

.E_5_10{
	left:11678px;
}

.A_5_6{
	left:11790px;
}

.R_5_5{
	left:11916px;
}

.quote_5_2{
	left:12020px;
	width:20px;
}